[
 {mytest, [{web_port, 8095},
             {nova_applications, [
                                  #{
                                    name => mytest,
                                    routes_file => "priv/mytest.routes.erl"
                                   }
                                 ]}]}
].
